<div class="choice-body">
    <div class="column choice choice-1 column" routerLink="/customer">
      <div style="position: relative; top: 50%;">Looking To Hire</div>
      <div class="description desc-1">
        Hire skilled labour nearby you by posting jobs.
      </div>
    </div>
    <div class="column choice choice-2 column" routerLink="/client">
      <div style="position: relative; top: 50%;">Looking To Work</div>
      <div class="description desc-2">
        Sign up to get represented and get hired to put your skill to work.
      </div>
    </div>
  </div>
