<app-top-bar-client></app-top-bar-client>
<div class="card h-87per">
    <div class="title">
        Applied Jobs
    </div>
    <div class="description">See the jobs that you have applied for</div>
    <div class="list h-87per">
        <div class="list-item" *ngFor="let job of jobs">
            <div class="row">Title: &nbsp;{{job.Title}}</div>
            <div class="row">Description: &nbsp;{{job.Description}}</div>
            <div class="row">Posted Date: &nbsp;{{job.PostedDate.replace('T',' ')}}</div>
            <div class="row">Budget: &nbsp;{{job.MinimumBudget}} to {{job.MaximumBudget}}</div>
        </div>
        <div class="list-item" *ngIf="jobs.length==0">No applied Jobs</div>

    </div>
</div>
