<app-top-bar-client></app-top-bar-client>


<div class="column card" style="width: 50%;" *ngIf="!loading">
    <div class="title">
        Your Details
    </div>
    <div class="row">
        <div class="description">Username: &nbsp; {{worker.Username}}</div>
    </div>
    <div class="row">
        <div class="description">Name: &nbsp; {{worker.Name}}</div>
    </div>
    <div class="row">
        <div class="description">Email: &nbsp; {{worker.Email}}</div>
    </div>
</div>

<div class="column card">
    <div class="title">
        Your Jobs
    </div>
    <div class="row" style="justify-content: space-evenly;">
        <div class="card value-holder">
            <div class="value-holder-title">Applied</div>
            <div class="value-holder-value">{{appliedJobsCount}}</div>
        </div>

        <div class="card value-holder">
            <div class="value-holder-title">Active</div>
            <div class="value-holder-value">{{activeJobsCount}}</div>
        </div>
    </div>
</div>