<app-top-bar-client></app-top-bar-client>
<div class="column card" style="width: 80%;" *ngIf="!loading">
    <div class="title">
        Your Personal Details 
    </div>
    <a (click)="edit=true" *ngIf="!edit">edit</a>
    <div class="row">
        Username: &nbsp; {{User.Username}}
    </div>
    <div class="row">
        Password: <input class="custom-input" placeholder="{{User.Password}}" [disabled]="!edit">
    </div>
    <div class="row">
        Name: <input class="custom-input" placeholder="{{User.Name}}" [disabled]="!edit">
    </div>
    <div class="row">
        Email: <input class="custom-input" placeholder="{{User.Email}}" [disabled]="!edit">
    </div>
    <div class="row">
        Phone: <input class="custom-input" placeholder="{{User.Phone}}" [disabled]="!edit">
    </div>
    <div class="row">
        Description: <input class="custom-input" placeholder="{{User.Description}}" [disabled]="!edit">
    </div>
    <button class="button-big" *ngIf="edit" (click)="edit=false">Done</button>
</div>